<% include partials/header %>

 <h1>About Purrfect Match</h1>
 
 <p>We at DogsAreBetterThanCats created this site to help people find the purrfect (puns are terrible, but we love them) pet for them. Let's face it, animals are better than people. Are you tired of being dissapointed by dating sites? Use Purrfect Match instead.
 Our site provices 105% success rate (totally made up stat). We are currently working hard to finish our site and the mobile app will soon follow. We will also have something very special for the dog lovers, paw-lease don't steal our idea until then!</p>
 
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDa1jt4oF6d5QZLg0B1hDQm5JUaUBzawBRXyWArn87ljdY696T" alt="Construction">
 

<% include partials/footer %>
